/*---Applies to ALL---*/
* {
    font-family:Calibri, arial, helvetica, sans-serif;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    color:white;
    text-decoration: none;
}

a:hover{                
    background-color:dimgrey;
}

body::-webkit-scrollbar {
  display: none;
}

.line{
    width:100px;
    height:2px;
    background-color:aliceblue;
    position: absolute;
    left:50%;
    margin-bottom:30px;
    transform: translate(-50%,-200%);
}

.miniheader{
    padding:40px;
    padding-top:120px;
    padding-bottom:60px;
    color:#3d4b52;
    text-align:center;
    font-family:Bahnschrift;
    font-weight:bold;
    font-size:60px;
}

.one-of-three{
    width:33.33%;
    float:left;
    text-align: center;
}

.one-of-two{
    width:50%;
    float:left;
    text-align: center;
}


/*---HEADER---*/
header{
    background-color:#55BBC6;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(media/header_background.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}
header .navdock .logo {
    width:30%;
    margin-top:20px;
    margin-left:10px;
    position: relative;
    left:0;
    top:0;
}
header .navdock .navbar{
    position: absolute;
    top:100%;
    right:3%;
    transform: translate(0,-40px);
}
header .navdock .navbar .navlink{
    font-size: 18px;
    font-family: Bahnschrift;
    margin-right:30px;
}
header .navdock .catchphrase{
    font-family: Bahnschrift;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}



/*---INDEX BODY---*/
#indexBody{
    height:200vh;
    background-color:#f0f5fc;
}

p{
    font-family: Calibri;
    font-size:18px;
    display:block;
}

#indexBody .intro{
    background-color:#55BBC6;
    height:500px;
}

#indexBody .intro .miniheader{
    color:lightcyan;
}

#indexBody .intro p{
    text-align: center;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    color:#d6fffc;
    font-size:25px;
    line-height:1.5;
    padding-bottom:60px;
    padding-top:40px;
    width:80%;
}



#indexBody .events .miniheader{
    margin-bottom:60px;
}

#indexBody .events .row{
    height:50%;
    width:100%;
    position: absolute;
    
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(media/events_background.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

#indexBody .events .row .one-of-three{
    width:33.33%;
    height:40%;
    float:left;
    position: relative;
    text-align: center;
}

#indexBody .events .row .one-of-three h3{
    font-size:30px;
    padding-top:20px;
    color:#55BBC6;
}

#indexBody .events .row .one-of-three p{
    padding:20px;
    color:#ffffff;
}



/*---ABOUT US PAGE ---*/
#our-team{
    height:200vh;
    background-color:#f0f5fc;
}

#our-team .line{
    background-color:#55BBC6;
}

#our-team .row{
    margin-top:30px;
    width:90%;
    height:30%;
    background-color:lightsteelblue;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    
}
#our-team .one-of-two{
    display:block;
}




/*---DONATE BODY---*/
#donateBody{
    height:40vh;
    background-color:#f0f5fc;
}



/*---GET INVOLVED BODY---*/
#getinvolvedBody{
    height:100vh;
    background-color:#f0f5fc;
}



/*---FOOTER---*/
footer{
    background-color:#e4e4e4;           
    margin-bottom:0;
    height:150px;
    
}
footer img{
    width:40px;
    padding:0 5px;
}
footer a:hover{
    background-color:transparent;
}
footer p{
    margin:0;
    padding-top:10px;
    padding-bottom:0;
}

footer h3{
    color:#3d4b52;
    margin-top:0;
    padding-top:20px;
    margin-right:10px;
    margin-bottom:10px;
}

footer .textMargin{
    text-align:center;
}

footer a{
    font-size:20px;
    color:#3d4b52;
    padding-left:15px;
    padding-right:15px;
}

footer .mediaIcons .rectangleIcons{
    width:20px;
}

footer .mediaIcons .squareIcons{
    width:15px;
}

footer .copyright{
    font-size:12;
    color:#3d4b52;
}

footer .line{
    width:35%;
    background-color:#55BBC6;
    margin-top:10px;
}