/*---Applies to ALL---*/
* {
    font-family:Calibri, helvetica, arial, sans-serif;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    color:white;
    text-decoration: none;
}

p a:link{
    color:#0645AD;
}

p a:visited{
    color:#663366;
}

a:hover{                
    background-color:#3d4b52;
    transition: background-color 1s;
}

* ::-webkit-scrollbar {
  display: none;
}

.row{
    width:80%;
    display:inline-block;
    position:relative;
    left:50%;
    transform:translate(-50%,0);
}

.one-of-three{
    width:50%;
}

.break{
    height:200px;
}

.line{
    width:100px;
    height:2px;
    background-color:aliceblue;
    position: absolute;
    left:50%;
    margin-top:10px;
    margin-bottom:30px;
    transform: translate(-50%,-200%);
}

.miniheader{
    padding-top:60px;
    padding-bottom:60px;
    color:#3d4b52;
    text-align:center;
    font-family:Bahnschrift, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:60px;
}

.subheader{
    padding-top:25px;
    padding-bottom:15px;
    color:#455055;
    text-align:left;
    font-family:Bahnschrift, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:35px;
}

.one-of-three{
    width:33.33%;
    float:left;
    text-align: center;
}

.one-of-two{
    width:50%;
    float:left;
    text-align: center;
}

.two-of-three{
    width:66.66%;
    float:left;
    text-align:center;
}

p{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size:18px;
    display:block;
}

.aqua-text{
    color:#55BBC6;
}

.blue-text{
    color:#075aad;
}

.white-text{
    color:#ffffff;
}

.aqua-background{
    background-color:#55BBC6;
}

.bold-text{
    font-weight:bold;
}

/*---HEADER---*/
header{
    background-color:#55BBC6;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(media/header_background.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}
.navdock a:hover{                
    background-color:transparent;
}

.navdock .logo {
    min-width:200px;
    width:20%;
    margin-top:20px;
    margin-left:10px;
    position: relative;
    left:0;
    top:0;
}

.navdock .navbar{
    position: absolute;
    top:100%;
    right:3%;
    transform: translate(0,-40px);
}

.navdock .navbar .navlink{
    font-size: 20px;
    font-family: Bahnschrift, helvetica, arial, sans-serif;
    margin-right:30px;
}

.navdock .catchphrase{
    font-family: Bahnschrift, helvetica, arial, sans-serif;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size:60px;
}

.navdock .see-covid {
    min-width:200px;
    width:20%;
    margin-top:20px;
    margin-left:50%;
    background-color:#ffffff;
    border-radius:5px;
    font-size:25px;
    padding:25px;
}

#not-main-header{
    background-color:#55BBC6;
    height:200px;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(media/header_background.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}
#not-main-header .navdock .logo {
    width:30%;
    margin-top:20px;
    margin-left:10px;
}
#not-main-header .navdock .navbar{
    position: absolute;
    top:200px;
    right:4%;

}
#not-main-header .navdock .navbar .navlink{
    font-size: 18px;
    font-family: Bahnschrift, helvetica, arial, sans-serif;
    margin-right:30px;
}


/*---INDEX BODY---*/
#index-body{
    background-color:#f0f5fc;
}

#index-body .intro{
    background-color:#55BBC6;
    padding-bottom:20px;
}

#index-body .intro .miniheader{
    color:lightcyan;
}

#index-body .intro p{
    text-align: center;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    color:#d6fffc;
    font-size:25px;
    line-height:1.5;
    padding-bottom:60px;
    padding-top:40px;
    width:80%;
}

#index-body .intro .button{
    position:relative;
    left:50%;
    display:block;
    width:250px;
    transform: translate(-50%,0);
    text-align:center;
    margin-bottom:40px;
    color:#ffffff;
}

#index-body #events .row{
    
    width:100%;
    min-height:400px;
    height:70%;
    
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(media/events_background.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

#index-body #events .row .event-container{
    width:60%;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    text-align: center;
}

#index-body #events .row .event-container h3{
    font-size:30px;
    padding-top:50px;
    padding-bottom:20px;
    color:#ffffff;
}

#index-body #events .row .event-container p{
    padding-top:20px;
    padding-bottom:20px;
    color:#ffffff;
}

#index-body .event-container a:hover{
    background-color:transparent;

}

#index-body #events .row .event-container .line{
    background-color:#55BBC6;
    width:150px;
    margin:30px 0;
}

#index-body #events .row .event-container img{
    padding-top:70px;
    width:60%;
    
    
}

#index-body #how-you-can-help .one-of-three h2{
    color:#55BBC6;
    margin-top:20px;
    margin-bottom:5px;
    font-size:30px;
}

#index-body #how-you-can-help  .row{
    display:inline-block;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    margin-bottom:100px;
}



#index-body #how-you-can-help  p{
    font-size:20px;
    color:#3d4b52;
    margin-bottom:10px;
    padding:10px;
    padding-left:25px;
    padding-right:25px;
}

#index-body .button{
    color:#3d4b52;
    width:50px;
    font-size:25px;
}

#index-body #covid-response{
    height:400px;
}

#index-body #covid-response .miniheader{
    border-radius:10px;
}

#index-body #covid-response p{
    font-size:20px;
    color:#3d4b52;
    margin-bottom:10px;
    padding:10px;
    padding-left:25px;
    padding-right:25px;
}

#index-body #covid-response .row .donate-button{
    width:15%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#index-body #covid-response .row .donate-button img{
    width:100%;
}

#index-body #covid-response #what-you-can-do{
    background-color:#f0f5fc;
}

#index-body #covid-response #what-you-can-do .row{
    width:100%;
    height:600px;
}

#index-body #covid-response #what-you-can-do .one-of-two{
    height:100%;
}

#index-body #covid-response #what-you-can-do p{
    margin-left:10%;
    margin-right:10%;
}



/*---ABOUT US PAGE ---*/
#aboutus-info{
    width:cover;
    background-color:#f0f5fc;
}

#aboutus-info .one-of-two{
    display: block;
    overflow: visible;
    width:50%;
    margin:20px 0;
}

#aboutus-info img{
    display:block;
    width:55%;
    padding:50px;
    padding-top:100px;
    margin-left:auto;
    margin-right:auto;
}

#aboutus-info summary p:hover{
    background-color:#3d4b52;
    transition:background-color 1s;
}

#aboutus-info p{
    color:#3d4b52;
    text-align:left;
    font-size:22px;
    padding-bottom:40px;
    padding-left:5%;
    padding-right:5%;
}

#aboutus-info h3{
    font-size:35px;
    display:block;
}

#aboutus-info{
    width:cover;
    background-color:#f0f5fc;
}

#aboutus-info .one-of-two{
    display: block;
    overflow: visible;
    width:50%;
    margin:20px 0;
}

#aboutus-info summary{
    cursor:pointer;
    text-align:center;
    color:#2b2b2b;
    outline:none;
    user-select:none;
    font-size:25px;
    margin-bottom:20px;
}

#aboutus-info summary p:hover{
    background-color:#3d4b52;
    transition:background-color 1s;
}

#aboutus-info .long{
    color:#3d4b52;
    text-align:left;
    font-size:18px;
    padding-bottom:40px;
    padding-left:20%;
    padding-right:20%;
}

#aboutus-info p{
    color:#3d4b52;
    text-align:left;
    font-size:22px;
    padding-bottom:40px;
    padding-left:20%;
    padding-right:20%;
}

#aboutus-info .subheader{
    padding-left:20%;
    padding-right:20%;
}

#aboutus-info img{
    display:block;
    width:55%;
    padding:50px;
    padding-top:100px;
    margin-left:auto;
    margin-right:auto;
}



#aboutus-info .row img{
    width:80%;
    text-align:center;
}

#our-team{
    
    background-color:#55BBC6;
}

#our-team .miniheader{
    color:lightcyan;
}

#our-team .line{
    background-color:aliceblue;
}

#our-team h3{
    font-weight: 300;
}

#our-team p{
    font-size:15px;
    padding-bottom:40px;
    
}

#our-team img{
    position:relative;
    height:500px;
    margin-top:20px;
    border:5px solid #297a83;
    border-radius: 3%;
}

#our-team .row{
    margin-top:30px;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    width:90%;
    background-color:#55BBC6;    
    display:inline-block;
}

#our-team .one-of-three{
    display:inline-block;

}

#our-team .one-of-two{
    display:inline-block;
}



#our-team{
    
    background-color:#55BBC6;
}

#our-team .miniheader{
    color:lightcyan;
}

#our-team .line{
    background-color:aliceblue;
}

#our-team h3{
    font-weight: 300;
}

#our-team p{
    font-size:15px;
    padding-bottom:40px;
    
}

#our-team img{
    position:relative;
    height:400px;
    margin-top:20px;
    border:5px solid #297a83;
    border-radius: 3%;
}

#our-team .row{
    margin-top:30px;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    width:90%;
    background-color:#55BBC6;    
    display:inline-block;
}

#our-team .one-of-three{
    display:inline-block;

}

#our-team .one-of-two{
    display:inline-block;
}


#event-body p{
    color:#3d4b52;
}

#event-body .line{
    background-color:#55BBC6;
}

#event-body .info-container{
    width:70%;
    margin: 0 auto;
}

#event-body .info-container .miniheader{
    padding-bottom:0px;
}

#event-body .info-container .flyer{
    display:block;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    width:60%
}

#event-body .info-container img{
    width:100%;
}

#event-body .info-container p{
    padding-top:25px;
    font-size:20px;
}

#event-body .info-container a:link{
    color:#0645AD;
    font-size:20px;
}

#event-body .info-container a:visited{
    color:#663366;
    font-size:20px;
}


/*---DONATE BODY---*/
#donate-body{
    height:650px;
    background-color:#f0f5fc;
}

#donate-body .supporting{
    width:50%;
    height:100%;
}


#donate-body .supporting p{
    color:#3d4b52;
    padding-bottom:25px;
    font-size:22px;
}

#donate-body .donate-button{
    width:15%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#donate-body .donate-button img{
    width:100%;
}



/*---GET INVOLVED BODY---*/
#getinvolved-body{
    background-color:#f0f5fc;
}

#getinvolved-body .row{
    width:100%;
    height:600px;
}

#getinvolved-body .one-of-two{
    height:100%;
}

#getinvolved-body iframe{
    height:45%;
    padding-left:5%;
    padding-right:5%;
    width:90%;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,0);
}

#getinvolved-body .miniheader{
    padding-bottom:0px;
}

#getinvolved-body .line{
    background-color:#55BBC6;
}

#getinvolved-body p{
    margin-right:5%;
    margin-left:5%;
    padding-top:30px;
    color:#3d4b52;
    text-align:center;
    font-size:22px;
    padding-bottom:50px;
}

#getinvolved-body .donate-button{
    width:15%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#getinvolved-body .donate-button img{
    width:100%;
}

#getinvolved-body .row .event-container{
    width:60%;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    text-align: center;
}

#getinvolved-body .event-container a:hover{
    background-color:transparent;

}

#getinvolved-body .row .event-container img{
    width:70%;
}

#getinvolved-body .row .creativity-lot img{
    width:30%;
}

/*---ABOUT US PAGE ---*/


/*---FOOTER---*/
footer{
    background-color:#e4e4e4;           
    display:inline-block;
    width:100vw;
    
}

footer img{
    width:40px;
    padding:0 5px;
}

footer a:hover{
    background-color:transparent;
}

footer p{
    margin:0;
    padding-top:10px;
    padding-bottom:0;
}

footer h3{
    color:#3d4b52;
    margin-top:20px;
    padding-top:20px;
    margin-right:10px;
    margin-bottom:10px;
}

footer .text-margin{
    text-align:center;
}

#foooter .line{
    margin:20px auto;
}

footer a{
    font-family:Bahnschrift, helvetica, arial, sans-serif;
    font-size:18px;
    color:#3d4b52;
    padding-left:15px;
    padding-right:15px;
}

footer .mediaIcons .rectangleIcons{
    width:20px;
}

footer .mediaIcons .squareIcons{
    width:15px;
}

footer .copyright{
    margin-bottom:16px;
    font-size:12;
    color:#3d4b52;
}


/*--- MEDIA QUERIES --- */

/*---INDEX---*/
@media only screen and (min-width:1301px){
    #index-body #covid-response #what-you-can-do{
        height:1200px;
        background-color:#f0f5fc;
    }
}

@media only screen and (max-width:1300px){
    #index-body #covid-response #what-you-can-do{
        height:2500px;
        background-color:#f0f5fc;
    }  
}

/*---ABOUT US---*/
@media only screen and (max-width:1200px) {
    #aboutus-info .one-of-two {
        width:100%;
    }
}

@media only screen and (max-width:1200px) {
    #our-team .one-of-three {
        width:100%;
    }
}


/*---DONATE---*/

@media only screen and (min-width:1800px){
    #donate-body .supporting{
        margin-left:auto;
        margin-right:auto;
        width:50%;
        height:100%;
    }
}

@media only screen and (max-width:1799px){
    #donate-body .supporting{
        margin-left:auto;
        margin-right:auto;
        width:75%;
        height:100%;
    }
}

/*---GET INVOLVED---*/

@media only screen and (min-width:1301px){
    #getinvolved-body{
        height:1200px;
        background-color:#f0f5fc;
    }
}

@media only screen and (max-width:1300px){
    #getinvolved-body{
        height:2500px;
        background-color:#f0f5fc;
    }  
}