/*---Applies to ALL---*/
* {
    color:white;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

/*--- ANIMATION ---*/

* {
    animation-name:come-in;
    animation-duration: 2s;
}

@keyframes come-in {
    0% {
        margin-bottom:50px;
        opacity:0%;
    }

    100%{
        
    }
}

h1 {
    color:white;
    font-family:Bahnschrift, Calibri, Arial, Helvetica, sans-serif;
}

h3 {
    color:white;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

p a:link{
    color:#4da1c9;
}

p a:visited{
    color:#b65ab6;
}

a{
    transition:background-color 1s;
}

a:hover{                
    background-color:#D1C7B5;
    transition:background-color 1s;
}

.v2font {
    padding-top:25px;
    padding-bottom:15px;
    color:#455055;
    text-align:left;
    font-family:Calibri, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:35px;
}

.black-text {
    color:#455055;
}

.transparent {
    background-color:transparent;
}

.transparent:hover {
    background-color:transparent;
}

.break{
    min-height:50px;
    max-height:200px;
    height:5vh;
}

.line{
    width:100px;
    height:2px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:30px;
}

.miniheader{
    color:#3d4b52;
    text-align:center;
    font-family:Bahnschrift, Calibri, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:60px;
}

.subheader{
    padding-top:25px;
    padding-bottom:15px;
    color:#455055;
    text-align:left;
    font-family:Bahnschrift, Calibri, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:35px;
}

p{
    font-family: Georgia, Calibri, Arial, Helvetica, sans-serif;
    font-size:18px;
}

.paragraph{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size:23px;
}

.turquoise-text{
    color:#55BBC6;
}

.blue-text{
    color:#075aad;
}

.purple-text{
    color:#974197;
}

.white-text{
    color:#ffffff;
}

.lightcyan-text{
    color:lightcyan;
}

.lightcyan-background{
    background-color:lightcyan;
}

.lightgray-background{
    background-color:lightgrey;
}

.turquoise-background{
    background-color:#55BBC6;
}

.bold-text{
    font-weight:bold;
}

.form-link {
    font-family:Comfortaa, Calibri, helvetica, arial, sans-serif;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    padding-bottom:15px;
    padding-top:15px;
    margin-top:4vh;
    margin-bottom:4vh;
    background-color:#55BBC6;
    transition-duration:0.5s;
}

.form-link:hover {
    border-radius:10px;
    width:95%;
    background-color:lightblue;    
    transition-duration:0.5s;
}

.form-link h2 {
    font-weight:bold;
    margin:15px;
    text-align:center;
    color:#FFFFA0;
}

/*---HEADER---*/
header{
    background-color:#55BBC6;
    height:50vh;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(media/header_background.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}

.event-dropdown{
    display:inline-block;
    font-size:23px;
    font-family: Bahnschrift, Comfortaa, helvetica, arial, sans-serif;
    margin-left:30px;
    transition-duration:0.3s;
    background-color:transparent;
    border-color:transparent;
}

.event-content {
    display:none;
    position:absolute;
    background-color:#55BBC6;
    min-width:160px;
}

.event-content a{
    color:white;
    padding-top:15px;
    padding-bottom:15px;
}

.event-dropdown:hover {

}


.navdock a:hover{                
    background-color:transparent;
    transition:0.3s;
}

.navdock .logo {
    max-height:50vh;
    min-width:200px;
    width:30%;
    margin-top:20px;
    margin-left:10px;
    position: relative;
    left:0;
    top:0;
    transition:0.5s;
}

.navdock .logo:hover {
    width:29%;
    transition:0.5s;
}

.navbar{
    display:inline-block;
    position:relative;
    float:right;
    margin-right:1%;
    border-radius:10px;
    padding-right:1%;
    transform:translateY(-140%);
    color:lightcyan;
    color:white;
}

.navbar .navlink{
    font-size:23px;
    font-family: Bahnschrift, Comfortaa, helvetica, arial, sans-serif;
    margin-left:30px;
    transition-duration:0.3s;
}

.navbar .navlink:hover{
    background-color:transparent;
    color:#55BBC6;
    font-weight:bold;
    transition-duration:0.3s;
}

.current-page {
    font-size:22px;
    color:#FACD79;
    font-weight:bold;
}

.navdock .catchphrase{
    font-family: Bahnschrift, Comfortaa, helvetica, arial, sans-serif;
    position: absolute;
    left:50%;
    top:28%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size:25px;
}

.navdock em{
    font-family: Bahnschrift, Comfortaa, helvetica, arial, sans-serif;
}

#not-main-header{
    background-color:#55BBC6;
    height:200px;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(media/header_background.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
}

#not-main-header .navdock .logo {
    min-width:200px;
    max-width:500px;
    width:30%;
    margin-top:20px;
    margin-left:10px;
    transition:0.5s;
}

#not-main-header .navdock .logo:hover {
    max-width:480px;
    width:29%;
    transition:0.5s;
}

#not-main-header .navdock .navbar{
    position: absolute;
    top:200px;
    right:4%;

}

.block{
    clear:both;
    width:100%;
    height:12.5vh;
}

.lightcyan-block{
    clear:both;
    width:100%;
    height:12.5vh;
    background-color:lightcyan;
}

.mini-block{
    clear:both;
    width:100%;
    height:3vh;
}

/*---FOOTER---*/
footer{
    background-color:#cfc9a8;           
    display:inline-block;
    width:100vw;
    
}

footer img{
    width:40px;
    padding:0 5px;
}

footer a:hover{
    background-color:transparent;
}

footer p{
    margin:0;
    padding-top:10px;
    padding-bottom:0;
}

footer h3{
    color:#3d4b52;
    margin-top:20px;
    padding-top:20px;
    margin-right:10px;
    margin-bottom:10px;
}

footer .text-margin{
    text-align:center;
}

#foooter .line{
    margin:20px auto;
}

footer a{
    font-family:Bahnschrift, helvetica, arial, sans-serif;
    font-size:18px;
    color:#3d4b52;
    padding-left:15px;
    padding-right:15px;
}

.rectangleIcons{
    width:20px;
}

.squareIcons{
    width:15px;
}

footer .copyright{
    margin-bottom:16px;
    font-size:12px;
    color:#3d4b52;
}

/* global */
body {
    background-color:#F2EDD3;
}


/* index */
.row {
    width:100%;
    display:block;
}

.half-text {
    display:inline-block;
    width:49.5%;
}

.half-image {
    display:inline-block;
    width:49.5%;
}

#index {
    background-color:#F2EDD3;
    margin-left: 12%;
    margin-right: 12%;
}

#about-container {
    width:75%;
    margin-left:12.25%;
    margin-right:auto;
}

@media only screen and (min-width:1337px){
    #who-are-we {
        text-align:center;
        padding-top:3vh;
        min-height:375px;
        height:calc(600px - 35vw);
        float:left;
        width:100%;
    }

    #different {
        padding-top:3vh;
        min-height:375px;
        float:right;
        height:calc(600px - 35vw);
        width:100%;
    }
}

@media only screen and (max-width:1336px){
    #who-are-we {
        text-align:center;
        width:100%;
        padding-bottom:3vh;
    }

    #different {
        width:100%;
        padding-bottom:3vh;
        margin-top:5%;
    }
}

.introduction .subheader {
    font-size:37px;
    margin-bottom:5px;
    text-align:center;
    color:#455055;
}

.introduction p {
    font-color:#455055;
    font-size:20px;
    margin-left:7%;
    margin-right:7%;    
}

.introduction #container{
    margin-top:4%;
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

.introduction #about-button {
    font-family:Comfortaa, Bahnschrift, Calibri, Arial, Helvetica, sans-serif;
    padding-bottom:17px;
    border:solid;
    border-width:6px;
    border-color:#43736F;
    padding-top:17px;
    background-color:#B7EDFC;
    border-radius:10px;
    color:#147178;
    font-weight:bold;
    text-align:center;
}

.introduction #about-button:hover {
    background-color:#CF4A03;
    color:lightcyan;   
}

.index-heading {
    border-radius:12px;
    margin-left:14%;
    margin-right:14%;
    margin-bottom:3%;
    padding:3%;
    background-color:#55BBC6;
    color:lightcyan;
}

#upcoming-events {
    margin-left:auto;
    margin-right:auto;
    width:88%;
    background-color:#FFF6C6;
    background-image:url("media/events_background.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:8px;
    border:solid;
    border-width:10px;
    border-color:#55BBC6;
    padding-bottom:1%;
}

#upcoming-events .index-heading{
    margin-top:-0.5vh;
}

.event-box h1{
    font-family:Bahnschrift;
    text-align:center;
    color:white;
    font-size:50px;
    margin-top:15%;
}

.event-box {
    border-radius:8px;
    padding-top:1%;
    padding-bottom:6%;
    background-color:#CF4A03;
    transition-duration:0.3s;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.event-box:hover {
    background-color:rgba(100, 200, 100, 1);
    transition-duration:0.3s;
}

.event-box img{
    margin-top: 10%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#event-one {
}

#event-two {
}

#event-desc a{
    margin:20px;
    border-radius:5px;
    padding:10px;
}

#event-desc p{
    text-align: center;
    margin-top:20px;
}

#how-can-you-help {
    padding-bottom:8px;
    text-align:center;
}

#how-can-you-help a:hover {
    background-color:transparent;
}

.help-box h2 {
    font-family:Bahnschrift, Comfortaa, Calibri, Arial;
    text-align:center;
    color:#147178;
    font-size:30px;
}

.help-box p {
    margin-left:auto;
    margin-right:auto;
    color:#627177;
    font-family:Comfortaa, Calibri, Arial, Helvetica;
}

.help-box {
    padding-top:35px;
    padding-bottom:35px;
    transition-duration:0.2s;
    background-color:#C0F1FF;
}


@media only screen and (min-width:1301px) {
    .help-box {
        transition-duration:0.5s;
        display:inline-table;
        width:32%;
        height:400px;
    }

    .help-two {
        margin-left:1%;
        margin-right:1%;
    }

    .help-box img {
        width:75%;
        margin-bottom:15px;
        margin-left:12.5%;
        margin-right:12.5%;
    }

    .help-box p {
        max-width:22vw;
        height:135px;
    }

    #how-can-you-help .help-box:hover{
        width:30%;
        background-color:#F8F87E;
    }
}

@media only screen and (max-width:1300px) {
    #how-can-you-help.help-box {
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:1%;
        margin-top:1%;
        width:76%;
    }

    #how-can-you-help .help-box img {
        width:60%;
        margin-left:20%;
        margin-right:25%;
    }

    #how-can-you-help .help-box p {
        max-width:50vw;
        height:155px;
    }

    #how-can-you-help .help-box:hover{
        width:80%;
        background-color:#F8F87E;
        transition-duration:0.5s;
    }
}

#more-info:hover {
    border-radius:5px;
    margin-bottom:6px;
    padding-top:12px;
    padding-bottom:12px;
    width:95%;
    transition-duration:0.5s;
    background-color:#55BBC6;
}

#more-info {
    margin-left:auto;
    margin-right:auto;
    background-color:lightgray;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    width:100%;
    transition-duration:0.5s;
}

#more-info h2 {
    font-family:Comfortaa, Bahnschrift, Calibri, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:24px;
    color:#147178;
}



/* about us */
#aboutus {
    display:block;
    background-color:#F2EDD3;
    margin-left:12%;
    margin-right:12%;
}

#intro {
    width:100%;
}

#intro-text {
    background-color: #55bbc6;
    border-radius:15px;
    margin-left:5%;
    margin-right:auto;
    width:50%;
    height:100%;
}

#intro-text h1 {
    padding:45px;
    color:lightcyan;
} 

#intro-text .line {
    background-color:lightcyan;
}

#intro-text p {
    text-align: center;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    color:#d6fffc;
    font-size:25px;
    line-height:1.5;
    width:85%;
}

#intro img {
    position:absolute;
    transform:translate(46vw,-110%);
    width:30%;
    max-width:450px;
}

#mission {
    background-color:lightgrey;
    width:100%;
}


#mission-text {
    height:100%;
}

#mission-text p {
    padding:30px;
    color:#627177;
    font-size:23px;
}

#mission img {
    position:absolute;
    transform:translate(3vw,-125%);
    width:30%;
    max-width:500px;
}

#vision {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:8vh;
}

#vision p {
    font-size:23px;
    color:#455055;
}

@media only screen and (min-width:1453px){
    #intro-text {
        height:450px;
        padding-bottom:0px;
    }

    #aboutus img {
        width:30%;
    }

    #mission-text {
        margin-left:auto;
        margin-right:5%;
        width:50%;
    }

    #intro-text {
        margin-left:5%;
        margin-right:auto;
        width:50%;
    }
}

@media only screen and (max-width:1452px){
    #intro-text {
        height:;
        padding-bottom:30px;
    }

    #aboutus img{
        width:0%;
    }

    #mission-text {
        margin-left:auto;
        margin-right:auto;
        width:80%;
    }

    #intro-text {
        margin-left:auto;
        margin-right:auto;
        width:80%;
    }
}

#board {
    padding-top:8vh;
    display:block;
    width:100%;
    background-color:#55BBC6;
    padding-bottom:50px;
}

.board-row {
    padding-top:30px;
    width:88%;
    display:inline-block;
}

.board-picture {
    display:inline-block;
    text-align: center;
}

.board-picture img {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    border:5px solid #297a83;
    border-radius: 3%;
}

@media only screen and (min-width:1350px){
    .board-picture {
        display:inline-block;
        text-align: center;
        width:14%;
        margin-left:5%;
        margin-right:5%;
    }
    
    .board-picture img {
        height:300px;
    }

    #board-row-1 {
    margin-left:5%;
    }

    #board-row-2 {
        margin-left:15.5%;
    }
}

@media only screen and (max-width:1349px){
    .board-picture {
        display:inline-block;
        text-align: center;
        width:35%;
        margin-left:32.5%;
        margin-right:32.5%;
        margin-bottom:30px;
    }

    .board-picture img {
        width:75%;
        height:75%;
    }

    .board-picture {
        margin-left: 39%;
    }
}

/* donate */
#donate-page {
    display:block;
    background-color:lightcyan;
    margin-left:12%;
    margin-right:12%;
}

#donate-page p {
    text-align:center;
    color:black;
}

#donate-page h1 {
    font-family:Bahnschrift, Comfortaa, Calibri, Arial, Helvetica;
    text-align:center;
    font-size:80px;
    font-weight:bold;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:15px;
    color:#55BBC6;
}

#donate-container {
    width:100%;
}

#donate-container .subheader {
    padding:45px;
}

#donate-logo {
    width:25%;
    margin-left:37.5%;
    margin-right:37.5%;
}

#double-buttons {
    margin-top:5vh;
    margin-bottom:5vh;
    width:100%;
}

#donate-buttons {
    display:inline-block;
    margin-left:14.8%;
    margin-right:14.8%;
    width:20%;
}

.button-two {
    font-size:2.6vw;
    font-family:Bahnschrift, Comfortaa, Calibri, Arial, Helvetica;
    text-align:center;
    padding-bottom:17px;
    border:solid;
    border-width:6px;
    border-color:#43736F;
    padding-top:17px;
    background-color:#B7EDFC;
    border-radius:10px;
    font-weight:bold;
    color:#147178;
}

.button-two:hover {
    background-color:#CF4A03;
    color:lightcyan;   
}

.donate-info {
    font-size:27px;
    color:#627177;
    padding-left:15%;
    padding-right:15%;
    padding-top:30px;
    padding-bottom:45px;
}

/* get-involved */

.banner-block {
    color:lightcyan;
    background-color:#55bbc6;
    padding:30px;
}

#getinvolved {
    margin-left:12%;
    margin-right:12%;
    display:block;
    background-color:lightcyan;
}

#getinvolved p {
    font-size:25px;
    color:#455055;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#getinvolved .miniheader {
    margin-bottom:3vh;
}

#application iframe {
    width:50%;
    height:300px;
    position:relative;
    transform:translate(50%, 0);
}

#donate {
    background-color:lightgray;
}

#donate p {
    color:#627177;
}

.donate-button a:hover {
    background-color:transparent;
}

.donate-button {
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    width:15%;
    min-width:200px;
    transition-duration:0.8s;
}

.donate-button:hover {
    margin-left:auto;
    margin-right:auto;
    width:16.5%;
    transition-duration:0.8s;
}

.donate-button img {
    width:100%;
}

#creativity-image {
    width:35%;
    margin-left:auto;
    margin-right:auto;
}

#creativity-lot img {
    margin-top:5vh;
    width:100%;
}

#newsletter {
    background-color:lightgray;
}

#newsletter p {
    color:#627177;
}

#newsletter iframe {
    width:50%;
    height:300px;
    position:relative;
    transform:translate(50%, 0);
}

/* event */

.event {
    margin-left:12%;
    margin-right:12%;
    background-color:lightcyan;
}

.event .form-link {
    margin-top:4%;
}

.upcoming-note {
    font-family: Bahnschrift, Calibri, Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:35px;
    margin-top:45px;
    color:#be4747
}

.date-banner .subheader {
    margin:auto;
    width:75%;
    background-color:#455055;
    padding-left: 30px;
    color:#eea487;
}

.event-text {
    padding-top:5vh;
    padding-bottom:5vh;
    background-color:#e4debc;
}

.event-text p {
    margin-top:20px;
    font-size:25px;
    color:#455055;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.event-text span{
    font-family:Arial;
    font-size:25px;
    color:black;
    font-weight:bold;
}

.event-image {
    background-color:#C7DFE3;
    background-position:center center;
    background-size:cover;
}

.event-image img {
    display:block;
}


@media only screen and (min-width:1337px){
    .event-text {
        min-height:600px;
        height:calc(1200px - 35vw);
        float:left;
        width:49.9%;
    }

    .event-image {
        min-height:600px;
        float:right;
        padding-top:5vh;
        padding-bottom:5vh;
        height:calc(1200px - 35vw);
        width:49.9%;
    }

    .event-image img {
        padding-top:7%;
        width:calc(7vh + calc(80% - 5vw));
        margin:auto;
    }
}

@media only screen and (max-width:1336px){
    .event-text {
        width:100%;
    }

    .event-image {
        width:100%;
        padding-top:12%;
        padding-bottom:12%;
    }

    .event-image img {
        width:75%;
        margin:auto;
    }
}


/* fundraiser */
.mini-box {
    white-space:pre-wrap;
    vertical-align:top;
    height:450px;
    display:inline-block;
    width:31%;
    background-color:lightgray;
    margin:0.75%;
}

.mini-box p {
    padding:5px;
    color:#455055;
    text-align:center;
}

.big-what-box .mini-box {
    height:72%;
}

.caption {
    height:15%;
    font-size:45px;
}

.big-box {
    vertical-align:top;
    height:450px;
    display:inline-block;
    width:64%;
    background-color:lightgray;
    margin:0.75%;
}

.mini-what-box {
    white-space:nowrap;
    vertical-align:top;
    height:450px;
    display:inline-block;
    width:41%;
    background-color:lightgray;
    background-image:url(media/mini-what.png);
    background-position:center;
    margin:0.75%;
}

.mini-what-box h1 {
    color:white;
}

.cancel {
    transform:translateY(-2vw);
    margin-bottom:45px;
}

.big-what-box {
    white-space:nowrap;
    vertical-align:top;
    height:450px;
    display:inline-block;
    width:54%;
    background-color:lightgray;
    margin:0.75%;
}

.biggest-box {
    vertical-align:top;
    height:450px;
    display:inline-block;
    width:96.75%;
    background-color:lightgray;
    margin:0.75%;
}

.biggest-box .img-box {
    vertical-align:top;
    display:inline-block;
    background-color:lightblue;
    width:33%;
    height:100%;
    background-image:url(media/testimony.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.biggest-box .text-area {
    vertical-align:top;
    display:inline-block;
    width:64%;
    background-color:lightblue;
    margin:0.75%;
    margin-left:1.5%;
}

#fundraiser-intro {
    margin-left:1%;
    display:block;
    width:100%;
}

.header {
    height:15%;
    font-size:60px;
}

.centered-text {
    text-align:center;
}

.small-logo {
    min-width:200px;
    width:10%;
    transform:translateY(1vw);
    min-width:50px
}

#testimony {
    margin-left:1%;
    display:block;
    width:100%;
}

#fundraiser-help {
    margin-top:0.75%;
    margin-left:1.75%;
    margin-right:1.5%;
    padding-left:0.5%;
    padding-bottom:1%;
    background-color:lightgray;
}

#fundraiser-help .miniheader {
    padding-top:1%;
    padding-bottom:1%;
}

#fundraiser-help a:hover {
    background-color:transparent;
}

#fundraiser-help .help-box {
    margin-left:0.75%;
    vertical-align:top;
    transition-duration:0.1s;
    display:inline-table;
    background-color:#55BBC6;
    width:32%;
    height:400px;
}

#fundraiser-help .help-box h2 {
    color:white;
}

#fundraiser-help .help-box p {
    color:white;
    text-align:center;
}

#fundraiser-help .help-box:hover {
    background-color:rgba(100, 220, 100, 1);
    transition-duration:0.1s;
}

#fundraiser-help .help-box .line {
    background-color:white;
}

#fundraiser {
    transform:translateY(-27px);
    width:100%;
}

#fundraiser img{
    width:100%;
}

.scoo {
    width:10%;
    transform:translateY(3vw);
    min-width:125px;
}

#fundrasier-faq {
    margin-top:0.75%;
    margin-left:1.75%;
    margin-right:1.5%;
    padding-left:0.5%;
    background-color:lightgray;
}