@media screen and (max-width: 850px) {
}

@media screen and (max-width: 1000px) {
    .big-p{
        font-size:20px;
    }

    .smaller-p{
        font-size:14px;
    }

    .thick-header{
        font-size:30px;
    }

    .row{
        flex-direction:column;
    }

    .team .row img{
        height:unset;
        width: 40%;
    }
}


